<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Register</h1>
            <div class="input-box">
                <input type="text" placeholder="New Username" required>
                <i class='bx bxs-user'></i>
            </div>
            
            <div class="input-box">
                <input type="password" placeholder="Create a password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            
            <div class="input-box">
                <input type="email" placeholder="Enter email" required>
            </div>
        
            <button class="btn" type="submit">Register now</button>
            <div class="register-link">
                <!--p>Don't have an account? <a href="#">Register</a></p-->
                <input type="checkbox" required> Accept terms and conditions.
                <br>
                <a style="color: #fff;" href="/login">Log in.</a>
            </div>
        </form>
    </div>
</body>
</html>